@use 'selected_song'
@use 'playlist'
@use 'search_music'
*
    padding: 0
    margin: 0
#d_container
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    gap: 10px
    box-shadow: 5px 5px 5px 10px gray
    display: flex
    flex-flow: column
    height: 500px
    width: 300px
    background-color: #ffffff
    


